

<div>
    <!-- onsubmit es un método de Angular para pasarle acciones -->
    <div class="contenedor-logo-registro">
        <ul class="lista-registro">
            <li class="lista-registro">Tu alternativa a las residencias de mascotas</li>
            <li class="lista-registro">Cuidadores de confianza en tu ciudad</li>
            <li class="lista-registro">Sin jaulas...</li>
            <li class="lista-registro">...y con mucho amor!</li>
        </ul>
    </div>

    <!-- <img id="logo-PAH-registro" src="../../../assets/IMG/lofo_PAH.png" alt="" width="800px" height="450px"> -->
    <h1 class="h1-strong">{{title}}</h1>

    <mat-card>
        <form [formGroup]="formUser" class="register-form">
            <div>
                <mat-form-field class="example-form-field">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name" required>
                </mat-form-field>
                <span *ngIf="!formUser.controls.name.valid && formUser.controls.name.touched">El nombre es
                    obligatorio!</span>
            </div>
            <div>
                <mat-form-field class="example-form-field">
                    <mat-label>Surname</mat-label>
                    <input matInput type="text" formControlName="surname" required>
                </mat-form-field>
                <span *ngIf="!formUser.controls.surname.valid && formUser.controls.surname.touched">Al menos un
                    apellido es obligatorio!</span>
            </div>

            <div>
                <mat-form-field class="example-form-field">
                    <mat-label>Nickname</mat-label>
                    <input matInput type="text" formControlName="nick" required>
                </mat-form-field>
                <span *ngIf="!formUser.controls.nick.valid && formUser.controls.nick.touched">El nick es
                    obligatorio!</span>
            </div>
            <div>
                <mat-form-field class="example-form-field">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                </mat-form-field>
                <span *ngIf="!formUser.controls.email.valid && formUser.controls.email.touched">El email no es válido!</span>
            </div>

            <div>
                <mat-form-field class="example-form-field">
                    <mat-label>Password</mat-label>
                    <input matInput type="text" formControlName="password" required>
                </mat-form-field>
                <span *ngIf="!formUser.controls.password.valid && formUser.controls.password.touched">La contraseña es obligatoria!</span>
            </div>

            <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!formUser.valid" [routerLink]="['/login']">Enviar formulario</button>


        </form>
    </mat-card>
</div>
