.contenedor-form-registro{
    display: flex;
    background-color: #e0ece4;
    height: 50em;
    margin-top: -2.7em !important;
}

.example-form-field{
    margin-top: 2.3em;
    margin-left: 50em;
    border: cadetblue solid 1px;
    border-radius: 5%;
}

#btn-sub-reg{
    margin-top: 1.8em;
    margin-left: 51.7em;
}

#registrate-imagen{
    display: flex;
    margin-top: -27em;
}

#texto-registro{
    display: flex;
    position: absolute;
    margin-left: 2em;
    margin-top: -19em;
    font-family: 'hobostd', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}