.navigation {
	padding: 0px !important;

}

#nombre-logeado{
	font-size: 27px;
}

.logo-pah {
    width: 100px;
    height: 50px;
    margin-top: -6em;
    margin-left: 85%;
}

.navigation .navbar {
	border-radius: 0px;
	background: #8fc0a9;
    height: 10em;
	border: none;
}

.logo-letras {
    width: 200px;
    height: 80px;
    margin-left: 4em;
}

.navigation .navbar *{
	color: white;
}

.navigation .navbar a:hover{
	background: #68b0ab;
}

.navigation .navbar .dropdown-menu *{
	color:black;
}

/*
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus{
	background: #cc1717;
}*/


.navigation .navbar .dropdown-menu a:hover{
	background: #eee;
}

.navigation .avatar{
	width: 35px;
	height: 35px;
	border-radius: 100px;
	overflow: hidden;
	margin-top: 9px;
	margin-right: 2px;
}

.navigation .avatar img{
	height: auto;
	width: 38px;
}


.jumbotron{
	padding:25px;
	border-radius: 5px;
	text-align: center;
}

.user-image-for-edit img{
	height: 60px;
}