<mat-toolbar color="primary">
  <span>Pet HOME</span>
  <span class="example-spacer"></span>

  <button style="margin-left: 10px;" mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <!--  <mat-icon>person</mat-icon> -->
    Followers
  </button>
  <button style="margin-left: 10px;" mat-icon-button class="example-icon"
    aria-label="Example icon-button with share icon">
    <!--  <mat-icon>person_add</mat-icon> -->
    Seguidos
  </button>
</mat-toolbar>

<div>
  <ul class="nav navbar-nav navbar-right" *ngIf="identity"> <!--Esta barra solo aparece si el usuario está identificado-->
    <li class="avatar">
      <!--cargar imagen de usuario-->
      <a [routerLink]="['/home']" [routerLinkActive]="['active']" >Inicio</a> <!--añadir iconos-->
      <a  [routerLink]="['/timeline']" [routerLinkActive]="['active']">Timeline</a> <!--añadir iconos-->
      <a [routerLink]="['/gente']" [routerLinkActive]="['active']" >Gente</a> <!--añadir iconos-->



    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        {{identity.name}} <span class="caret"></span>
      </a>

      <ul class="dropdown-menu">
        <li>
          <a [routerLink]="['']" [routerLinkActive]="['']" >Mi perfil</a> <!--añadir iconos-->
          <a href="#">Mis datos</a>
          <a class="pointer" (click)="logout()" href="#">Cerrar sesión</a>


        </li>
        
      </ul>

    </li>
  </ul>
</div>


<router-outlet></router-outlet>
