<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      
      <div >
        <img src="../../../assets/IMG/logo_PAH2.png" alt="" class="logo-letras"/>
      </div>

      <div *ngIf="identity"> 
        <img src="../../../assets/IMG/lofo_PAH.png" alt="" class="logo-pah"/>
        <button mat-icon-button class [routerLink]="['/gente']" [routerLinkActive]="['active']"><img class="btn-gente" src="../../../assets/IMG/logo_gente.png"/></button>
        <button mat-icon-button class [routerLink]="['/timeline']" [routerLinkActive]="['active']"><img class="btn-mensajes" src="../../../assets/IMG/icono_mensajes.png"/></button>
      </div>

      
      <ul class="nav navbar navbar-nav navbar-right" *ngIf="!identity">
          <li> 
            <a [routerLink]="['/login']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-log-in"></span>
              Login
            </a>
          </li>

          <li> 
            <a [routerLink]="['/registro']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-user"></span>
              Registro
            </a>
          </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <li class="avatar">
          <!--cargar imagen de usuario-->
          <img src="{{ url + 'get-image-user/' + identity.image }}" *ngIf="identity && identity.image" />
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{identity.name}} <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
              <li>
                <a [routerLink]="['/perfil',identity._id]">
                  <span class="glyphicon glyphicon-user"></span>
                  Mi perfil
                </a>
              </li>
              <li>
                <a [routerLink]="['/mis-datos']">
                  <span class="glyphicon glyphicon-cog"></span>
                  Mis datos
                </a>
              </li>
              <li>
                <a class="pointer" (click)="logout()">
                  <span class="glyphicon glyphicon-log-out"></span>
                  Cerrar sesión
                </a>
              </li>
          </ul>
        </li>
      </ul>


    </div>
  </nav>
</div>

<router-outlet></router-outlet>
