<mat-toolbar color="primary">
  <span>Pet HOME</span>
  <span class="example-spacer"></span>

  <button style="margin-left: 10px;" mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <!--  <mat-icon>person</mat-icon> -->
    Followers
  </button>
  <button style="margin-left: 10px;" mat-icon-button class="example-icon"
    aria-label="Example icon-button with share icon">
    <!--  <mat-icon>person_add</mat-icon> -->
    Seguidos
  </button>
</mat-toolbar>


<router-outlet></router-outlet>
