
<div class="contenedor-login">
    <div class="contenedor-password-login">
        <input type="nick" name="nick" class="input-password-login" required placeholder="Introduce tu nick">
    </div>

    <div class="contenedor-email-login">
        <input type="email" email required class="input-password-email" name="email" placeholder="Introduce tu email">
    </div>

    <div class="contenedor-password-login">
        <input type="password" name="password" class="input-password-login" required placeholder="Introduce tu contraseña">
    </div>


<div class="contenedor-boton-submit-login">

<button class="boton-submit-login" type="submit" >Submit</button>

</div>

    <div class="contenedor-logo-inicio">
        <ul class="lista-login">
            <li class="lista-login">Comparte fotos y vídeos de las mascotas que estás cuidando :)</li>
            <li class="lista-login">Disfruta :D</li>
       </ul>
     </div>
     <img id="logo-pah-login" src="../../../assets/IMG/lofo_PAH.png" alt="" width="300px" height="250px">

</div>


<!--
    
</form>

<mat-card>
    <form [formGroup]="formLogin" class="login-form">

        <div>
            <mat-form-field class="example-form-field">
                <mat-label>Nickname</mat-label>
                <input matInput type="text" formControlName="nick" required>
            </mat-form-field>
            <span>El nick es obligatorio!</span>
        </div>

        <div>
        <mat-form-field class="example-form-field">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </mat-form-field>
        <span required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">El email no es válido!</span>
    </div>

    <div>
        <mat-form-field class="example-form-field">
            <mat-label>Password</mat-label>
            <input matInput type="text" formControlName="password" required>
        </mat-form-field>
        <span>La contraseña es obligatoria!</span>
    </div>

        <button mat-raised-button color="primary" >Enviar</button>

    </form>
</mat-card>
-->