    <mat-card>
    <form [formGroup]="formLogin" class="login-form">

        <div>
            <mat-form-field class="example-form-field">
                <mat-label>Nickname</mat-label>
                <input matInput type="text" formControlName="nick" required>
            </mat-form-field>
            <span *ngIf="!formUser.controls.nick.valid && formUser.controls.nick.touched">El nick es
                obligatorio!</span>
        </div>

        <div>
        <mat-form-field class="example-form-field">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </mat-form-field>
        <span *ngIf="!formUser.controls.email.valid && formUser.controls.email.touched" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">El email no es válido!</span>
    </div>

    <div>
        <mat-form-field class="example-form-field">
            <mat-label>Password</mat-label>
            <input matInput type="text" formControlName="password" required>
        </mat-form-field>
        <span *ngIf="!formUser.controls.password.valid && formUser.controls.password.touched">La contraseña es obligatoria!</span>
    </div>

        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!formUser.valid">Enviar</button>

    </form>
</mat-card>

<!--
    <div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <p>
                <label>Email</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                <span *ngIf="!email.valid && email.touched">El email no es correcto</span>

    
            </p>


            <p>
                <label>Contraseña</label>
                <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required />
                <span *ngIf="!password.valid && password.touched">La contrasela es obligatoria!</span>
                
    
            </p>

            <input type="submit" value="Entrar" class="btn-succes [disabled]="!loginForm.form.valid />
        </form>
    </div>

-->