<form class="contenedor-login" #loginForm="ngForm" (ngSubmit)="onSubmit">
    <div class="contenedor-logo-inicio">
        <ul class="lista-login">
            <li class="lista-login">¡Bienvenido de nuevo!</li>
            <li class="lista-login">Cuida, acoge...y disfruta! :D</li>
       </ul>
     </div>
     <img id="logo-PAH-registro" src="../../../assets/IMG/lofo_PAH.png" alt="" width="800px" height="450px">
     <h1 class="h1-strong">Ingresa!</h1>


     <div class="contenedor-email-login">
        <p>
            <label>Email</label>
            <input type="email" name="email" #email="ngModel" [{ngModel}]="user.email" required required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
            <span></span>
        </p>


     </div>


    
</form>