#publications {
    min-height: 500px;
    
}

.item-user .image-user,
.item-publication .image-user{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;

}

.item-user .image-user img,
.item-publication .image-user{
    width: 120px;
}

.item-user .user-name,
.item-publication .username {
    margin-top: 10px;
}